@model BookLibrary.Server.ViewModels.CreateGenreViewModel
@{
    ViewData["Title"] = "Add a Genre";
}
<div class="card">
    <div class="card-header">
        <i class="icon-plus"></i> Create a new genre
    </div>
    <div class="card-body">
        <h2 class="text-center mt-3">Create a new genre</h2>
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="submit" value="Add" class="btn btn-primary"/>
        </form>
    </div>
</div>