<aside class="aside-menu">
    <!-- Tab panes-->
    <div class="tab-content">
        <div class="tab-pane active" id="timeline" role="tabpanel">
            <div class="list-group list-group-accent">
                <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Options</div>
                <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
                    <a href="~/Identity/Account/Login" class="list-group-item-action">
                        <div class="avatar float-right">
                            <i class="fa fa-sign-in fa-2x"></i>
                        </div>
                        <div>Login</div>
                        <small class="text-muted">Login to the application</small>
                    </a>
                </div>
                <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
                    <a href="~/Identity/Account/Logout" class="list-group-item-action">
                        <div class="avatar float-right">
                            <i class="fa fa-sign-out fa-2x"></i>
                        </div>
                        <div>Logout</div>
                        <small class="text-muted">Logout from the application</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>