<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Books</li>
            <li class="nav-item">
                <a class="nav-link" href="/Book/List">
                    <i class="nav-icon icon-list"></i> List of books
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Book/Create">
                    <i class="nav-icon icon-pencil"></i> Create a book
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">Genres</li>
            <li class="nav-item">
                <a class="nav-link" href="/Genre/List">
                    <i class="nav-icon icon-list"></i> List of genres
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Genre/Create">
                    <i class="nav-icon icon-pencil"></i> Create a genre
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">Authors</li>
            <li class="nav-item">
                <a class="nav-link" href="/Author/List">
                    <i class="nav-icon icon-list"></i> List of authors
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Author/Create">
                    <i class="nav-icon icon-pencil"></i> Create an author
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>